<section id="faq-section-style">
    {% unless section.settings == blank %}
        <h3>{{section.settings.heading}}</h3>
    {% endunless %}
<div class="mb-10 accordion">
    {% for block in section.blocks %}
      <div class="accordion-content mb-6">
        <header class="header flex items-start justify-between">
          <span class="title reveal:animate-fadeInUp text-xl font-bold">{{ block.settings.question }}</span>
          <i class="fa-solid fa-plus"></i>
        </header>
        <p class="description">
          {{ block.settings.answer }}
        </p>
    </div>
  {% endfor %}
  </div>
</section>

{%  schema  %}  
    {
        "name" : "Customer QAs",
        "settings" : [
            {
                "type" : "text",
                "label" : "Heading for FAQ",
                "id" : "heading"
            }
         ],
         "blocks": [
      {
        "type": "faq",
        "name": "FAQ",
        "settings": [
            {
                "type" : "text",
                "label" : "Customer Questions",
                "id" : "question"
            },
            {
                "type" : "textarea",
                "label" : "Answer For FAQ",
                "id" : "answer"
            }
        ]
      }
    ]
         
    }
{% endschema %}