<section id="faq-section-style">
    {% unless section.settings == blank %}
        <h3>{{section.settings.heading}}</h3>
    {% endunless %}
<div class="accordion">
    {% for block in section.blocks %}
        
        {% if block.type == 'faq' %}
        <div class="accordion-content">
            <header class="header">
              <span class="title">{{ block.settings.question }}</span>
              <i class="fa-solid fa-plus"></i>
            </header>
            <p class="description">
              {{ block.settings.answer }}
            </p>
        </div>
            {% elsif block.type == 'headline' %}
                <h3>{{block.settings.title}}</h3>
        {% endif %}
  {% endfor %}
  </div>
  <!-- Use input: label & checkbox and forloop.index next time -->
</section>

{%  schema  %}  
    {
        "name" : "Customer QAs",
        "settings" : [
            {
                "type" : "text",
                "label" : "Heading for FAQ",
                "id" : "heading"
            }
         ],
         "blocks": [
      {
        "type": "faq",
        "name": "FAQ",
        "settings": [
            {
            "type": "text",
            "label": "Title Internal Only",
            "id": "title"
            },
            {
            "type" : "text",
            "label" : "Customer Questions",
            "id" : "question"
            },
            {
            "type" : "textarea",
            "label" : "Answer For FAQ",
            "id" : "answer"
            }
        ]
      },
      {
        "type" : "headline",
        "name" : "FAQ Heading",
        "settings" : [
            {
                "type" : "text",
                "label" : "Headline",
                "id" : "title"
            }
        ]
      }
    ]
         
    }
{% endschema %}