{% unless section.settings == blank %}
<h1>{{section.settings.heading}}</h1>
{% endunless %}
{% for section in section.blocks %}
    <h3>{{section.settings.question}}</h3>
    <p>{{section.settings.answer}}</p>
{%endfor%}



{%  schema  %}  
    {
        "name" : "Customer QAs",
        "settings" : [
            {
                "type" : "text",
                "label" : "Heading for FAQ",
                "id" : "heading"
            }
         ],
         "blocks": [
      {
        "type": "faq",
        "name": "FAQ",
        "settings": [
            {
                "type" : "text",
                "label" : "Customer Questions",
                "id" : "question"
            },
            {
                "type" : "textarea",
                "label" : "Answer For FAQ",
                "id" : "answer"
            }
        ]
      }
    ]
         
    }
{% endschema %}